{% extends "layout.html" %}

{% block pageTitle %}
  Developer hub homepage
{% endblock %}

{% block header %}
    {% include "includes/header-logged-in-v4.html" %}
{% endblock %}

{% block beforeContent %}
{% if newKey == undefined %}
    <a href="/{{ version }}/details/{{ productName }}" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}


{% block content %}

{% if newKey %}
<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-width-two-thirds">New client secret for {{ productName }}</h1>
        <!--<p>The client secret has also been updated in the product page</p>-->
        <div class=" govuk-!-font-size-24 govuk-!-font-weight-bold">
            {{ newKey }}
            <a class="govuk-!-font-size-16 govuk-!-font-weight-regular block" href="#">Copy client secret</a>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl ">
        <a class="govuk-link govuk-!-font-size-16" href="/{{ version }}/details/{{ productName }}">Go back to the product page</a>
    </div>
</div>

{% else %}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
                Reset client secret
              </h1>
        <p>You should only reset the secret if you have lost it.</p>
        <p>It will stop working as soon as we show you a new one.</p>
        <p>You'll need to update any software or app with the new secret straight away.</p>
        <a class="govuk-button" href="/{{ version }}/reset-client-secret/{{ productName}}/show-key">Show me a new secret </a>

    </div>
</div>

{% endif %}

{% endblock %}
