<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-quarter">
        <ul class="govuk-list manage-apim">
            <li><a class="govuk-link govuk-link--no-visited-state selected govuk-!-font-size-16 govuk-!-font-weight-bold" href="#apis-section-start">School census API<span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">Ver 1.0</span></a></li>
            <li><a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#apis-section-start">School workforce API<span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">Ver 1.0</span></a></li>
            <li><a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="api/controlled-list#apis-section-start">Controlled list<span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">Ver 1.0</span></a></li>
        </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">   

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
            <li><a href="#census-validation-api-v1">Census Validation API v1</a></li>
            <li><a href="#census-submission-api-v1.1">Census Submission API v1.1</a></li>
            <li><a href="#census-submission-api-v1">Census Submission API v1</a></li>
        </ul>


        <h3 id="census-validation-api-v1" class="govuk-heading-m govuk-!-margin-bottom-0">Census Validation API v1 <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-padding-left-2" href="#">View swagger file</a></h3>
        <span class="block govuk-!-margin-bottom-4">Receives the census XML file from the Data Provider, validates and returns a validation report showing the errors and queries. This will over-write any previous census data and supplementary information such as notes.</span>
        <p>
            <span class="badge gov-orange-bg govuk-!-font-size-16">POST</span>  <span>/api/Census</span>
        </p>


        <p>
            <span class="block govuk-!-font-weight-bold">Returns</span>
            <span>JSON object</span>
        </p>

        <div class="govuk-!-margin-bottom-6">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Parameters</p>
            <pre>
<strong>censusfile</strong> 
File | Required | Upload file.
</pre>
        </div>



        <p>
            <span class="block govuk-!-font-weight-bold">Scope</span>
            <span>Census</span>
        </p>

        <div class="govuk-!-margin-bottom-4">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Example response</p>
            <pre>
"200": {
"description": "Success"
}
</pre>

        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            Response codes
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>200 - Success</li>    
            <li>400 - Bad Request</li>    
            <li>401 - Unauthorized</li>    
            <li>403 - Forbidden</li>    
            <li>500 - Server Error</li>    
        </ul>  
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

        <h3 id="census-submission-api-v1" class="govuk-heading-m govuk-!-margin-bottom-0">Census Submission API v1 <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-padding-left-2" href="#">View swagger file</a></h3>
        <span class="block govuk-!-margin-bottom-4">Sends the census to DfE, re-validates and returns a confirmation of the action. This will over-write any previous census data and supplementary information such as notes.</span>
        <p>
            <span class="badge gov-orange-bg govuk-!-font-size-16">POST</span>  <span>/api/Submit-Census</span>
        </p>


        <p>
            <span class="block govuk-!-font-weight-bold">Returns</span>
            <span>JSON object</span>
        </p>

        <div class="govuk-!-margin-bottom-6">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Parameters</p>
            <pre>
<strong>censusfile</strong> 
File | Required | Upload file.
</pre>
        </div>

        <p>
            <span class="block govuk-!-font-weight-bold">Scope</span>
            <span>Census</span>
        </p>

        <div class="govuk-!-margin-bottom-4">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Example response</p>
            <pre>
"200": {
"description": "Success"
}
</pre>

        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            Response codes
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>200 - Success</li>    
            <li>400 - Bad Request</li>    
            <li>401 - Unauthorized</li>    
            <li>403 - Forbidden</li>    
            <li>500 - Server Error</li>    
        </ul>  
        </div>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />

        <h3 id="census-submission-api-v1.1" class="govuk-heading-m govuk-!-margin-bottom-0">Census Submission API v1.1 <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-padding-left-2" href="#">View swagger file</a></h3>
        <span class="block govuk-!-margin-bottom-4">Sends the census to DfE, re-validates and returns a confirmation of the action. This will over-write any previous census data and supplementary information such as notes.</span>
        <p>
            <span class="badge gov-orange-bg govuk-!-font-size-16">POST</span>  <span>/api/Submit-Census</span>
        </p>


        <p>
            <span class="block govuk-!-font-weight-bold">Returns</span>
            <span>JSON object</span>
        </p>

        <div class="govuk-!-margin-bottom-6">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Parameters</p>
            <pre>
<strong>censusfile</strong> 
File | Required | Upload file.
</pre>
        </div>

        <p>
            <span class="block govuk-!-font-weight-bold">Scope</span>
            <span>Census</span>
        </p>

        <div class="govuk-!-margin-bottom-4">
        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">Example response</p>
            <pre>
"200": {
"description": "Success"
}
</pre>

        <p class="block govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            Response codes
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>200 - Success</li>    
            <li>400 - Bad Request</li>    
            <li>401 - Unauthorized</li>    
            <li>403 - Forbidden</li>    
            <li>500 - Server Error</li>    
        </ul>  
        </div>

    </div>



</div>