{% extends "layout.html" %}

{% block pageTitle %}
  Developer hub homepage
{% endblock %}

{% block header %}
    {% include "includes/header-logged-in-v4.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-width-two-thirds">Client secret for {{ productName }}</h1>
        
        <div class=" govuk-!-font-size-24 govuk-!-font-weight-bold">
            {{ newKey }}
            <a class="govuk-!-font-size-16 govuk-!-font-weight-regular block" href="#">Copy client secret</a>

        </div>
        <hr class="govuk-section-break govuk-section-break--m" >
        <p>We do not store this secret and can't show it to you again once you leave this page.</p>        
                    
             <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You will need to reset it if you lose it.
              </strong>
             </div>
        <hr class="govuk-section-break govuk-section-break--xl" >
        <a class="govuk-link govuk-!-font-size-16" href="/{{ version }}/details/{{ productName }}">Go to the product page</a>
    </div>
</div>

{% endblock %}
