{% extends "layout.html" %}

{% block pageTitle %}
  Developer hub homepage
{% endblock %}

{% block header %}
    {% include "includes/header-logged-in.html" %}
{% endblock %}

{% block beforeContent %}
{% if newKey == undefined %}
    <a href="/{{ version }}/product/details/{{ productName }}" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}


{% block content %}

{% if newKey %}
<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-width-two-thirds">New client secret for {{ productName }}</h1>
        <!--<p>The client secret has also been updated in the product page</p>-->
        <div class=" govuk-!-font-size-24 govuk-!-font-weight-bold">
            {{ newKey }}
            <a class="govuk-!-font-size-16 govuk-!-font-weight-regular block" href="#">Copy client secret</a>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl ">
        <a class="govuk-link govuk-!-font-size-16" href="/{{ version }}/product/details/{{ productName }}">Go back to the product page</a>
    </div>
</div>

{% else %}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Re-enter your DfE account password</h1>
      <form method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
        </div>
        <input type="submit" value="Reset client secret" class="govuk-button" />
      </form>
        <a href="#" class="govuk-link">I've forgotten my password</a>
    </div>
</div>

{% endif %}

{% endblock %}
