{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Section</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link">Subsection</a>
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}


<!-- Title & Description -->
<!-- <header class="gem-c-inverse-header  gem-c-inverse-header--full-width "> -->

      <!-- <div class="full-page-width-wrapper" style="background-color: 	#005ea5; margin-top: -30px; padding-top: 30px; width: 100%;"> -->

            <!-- <span class="govuk-caption-m">Pro</span> -->
            <h1 class="govuk-heading-xl">
             API 1
            </h1>

            <div class="govuk-grid-row">


                <div class="govuk-grid-column-one-half">

                      <p class="" href="#">Information about what the API does</p>

                      <button type="submit" class="govuk-button">
                        Subscribe
                      </button>

                </div>


          </div>
          <div class="govuk-!-padding-bottom-5"></div>
          <hr class="govuk-section-break govuk-section-break--visible">

<!-- How to  -->


          <div class="govuk-!-padding-bottom-9"></div>

                <h1 class="govuk-heading-l">
                 How to intergrate this API
                </h1>

                <p class="" href="#">
                  Text telling users how to intergrate the API
                </p>

          <div class="govuk-!-padding-bottom-6"></div>

                <h1 class="govuk-heading-m">
                 Technical specifications
                </h1>

                <p class="" href="#">
                  Text telling users how to intergrate the API
                </p>

                  <a  href="/product-details">
                     View product details
                   </a>

          <div class="govuk-!-padding-bottom-9"></div>


<!-- Version history -->


          <h1 class="govuk-heading-m">
            Version history
          </h1>
                    <hr class="govuk-section-break govuk-section-break--visible">
          <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">
                  <div class="govuk-!-padding-bottom-4"></div>
                  <h4 class="govuk-heading-s">
                    v1
                  </h4>
                </div>

                <div class="govuk-grid-column-one-half">
                  <div class="govuk-!-padding-bottom-4"></div>

                  <a  href="/product-details" style="float:right;"> View product details</a>
                </div>

          </div>

          <hr class="govuk-section-break govuk-section-break--visible">
    <!-- </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--full-width "> -->

  <!-- <hr class="govuk-section-break govuk-section-break--visible"> -->
      <div class="govuk-!-padding-bottom-4"></div>
<!-- Available API's ----------------------------------------------------------->


{% endblock %}
