{% extends "layout.html" %}

{% block pageTitle %}
  Developer hub homepage
{% endblock %}

{% block header %}
    {% include "includes/header-logged-in.html" %}
{% endblock %}


{% block content %}

{% if (products | length) == 0 %}

  <h1 class="govuk-heading-l govuk-!-width-two-thirds">
    You don't have any products registered with this service
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a class="govuk-button govuk-button--start" href="/{{ version }}/product/register">Register MIS product</a>
    </div>
  </div>

{% else %}

  <h1 class="govuk-heading-l govuk-!-width-two-thirds">
    Registered products ({{ products | length }})
  </h1>

  <div class="govuk-grid-row">
  {% for name, product in products %} 
    <div class="govuk-grid-column-one-third">
        <a href="/{{ version }}/product/details/{{ name }}" class="govuk-link govuk-link--no-visited-state card-view card-view-product govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">
            <span>{{ name }}</span>
            <span class="govuk-hint govuk-!-font-size-14">Created {{ product.created }}</span>
        </a>
    </div>
  {% endfor %}
      
    <div class="govuk-grid-column-one-quarter">
        <a href="/{{ version }}/product/register" class="govuk-link govuk-link--no-visited-state card-view card-view-new govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">
<!--            <span class="icon">+</span>-->
            <span>Register another product</span>
        </a>
    </div>
 </div>
{% endif %}
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />
<h1 class="govuk-heading-l govuk-!-width-two-thirds govuk-!-margin-top-9">Available APIs</h1>
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-one-quarter">
            <ul class="govuk-list manage-apim">
                <li><a class="govuk-link govuk-link--no-visited-state selected govuk-!-font-size-16 govuk-!-font-weight-bold" href="#">Census API<span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">Ver 1.0</span></a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">
            
            <div class="l-align govuk-!-padding-top-1 govuk-!-padding-bottom-5 govuk-!-font-weight-bold show-hide-content">
                <a  class="govuk-link govuk-!-font-weight-regular show-key" href="/get-key/api" data-type="API key">Show Census API key</a>
<!--
                <span>Census API key</span>
                <span class="block govuk-!-font-weight-bold">5f7f411234a44a68a2ea71062d271a59</span>
-->
            </div>
<!--            98cf2f23221a4e123bca922adcf3f8de -->

            
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--s" />
            
            <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">Validate census</h3>
            
            <span class="block govuk-!-margin-bottom-4">Checks for errors in the census</span>
            <span class="badge gov-orange-bg govuk-!-font-size-16">POST</span>  <span>/validate-census/{versionNumber}</span>
<pre class="govuk-!-margin-top-2">
<strong>versionNumber</strong> 
Float(2,1) | Required | Version of the API to invoke
</pre>
            <details class="govuk-details govuk-!-margin-top-4  govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  1.1
                </span>
              </summary>
                
              <div class="govuk-details__text govuk-!-margin-bottom-3">  
                <div class="govuk-!-font-size-16 r-align govuk-!-padding-2">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a> | <a class="govuk-link govuk-link--no-visited-state" href="#">Copy</a>  
                </div>
                {% include "v1/product/swagger.html" %}
              </div>

            </details>
            
            <details class="govuk-details">
              <summary class="govuk-details__summary api">
                <span class="govuk-details__summary-text">
                  1.0
                </span>
              </summary>
              <div class="govuk-details__text">
                <div class="govuk-!-font-size-16 r-align govuk-!-padding-2">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a> | <a class="govuk-link govuk-link--no-visited-state" href="#">Copy</a>  
                </div>
                  {% include "v1/product/swagger.html" %}
              </div>
            </details>
            
            <hr class="govuk-section-break govuk-section-break--visible" />
            
            <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-0">Send census</h3>
            <span class="block govuk-!-margin-bottom-4">Submit census returns to the DfE</span>
            
            <span class="badge gov-orange-bg govuk-!-font-size-16">POST</span>  /send-census
            <details class="govuk-details govuk-!-margin-top-4  govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  1.0
                </span>
              </summary>
              <div class="govuk-details__text govuk-!-margin-bottom-3">
                <div class="govuk-!-font-size-16 r-align govuk-!-padding-2">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a> | <a class="govuk-link govuk-link--no-visited-state" href="#">Copy</a>  
                </div>
                  {% include "v1/product/swagger.html" %}
              </div>
            </details>
        </div>
        
    </div>

    

{% endblock %}
