{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Section</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link">Subsection</a>
        </li>
      </ol>
    </div>
{% endblock %}

{% block content %}



<!-- Title & Description -->
<!-- <header class="gem-c-inverse-header  gem-c-inverse-header--full-width "> -->

      <!-- <div class="full-page-width-wrapper" style="background-color: 	#005ea5; margin-top: -30px; padding-top: 30px; width: 100%;"> -->

            <span class="govuk-caption-m">Registered product</span>
            <h1 class="govuk-heading-xl">
              Product 1
            </h1>

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">

                      <p class="" href="#">Redirect URL www.website.com</p>

                      <p class="" href="#">Client ID ABCD12345</p>

                </div>

            <div class="govuk-grid-column-one-half">

              <ul class="govuk-list" style="float:right;">
                <li>
                  <a class="govuk-link" href="#">Edit product details</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Reset secret</a>
                </li>
                <li>
                  <a class="govuk-link" href="#">Deactivate product</a>
                </li>
              </ul>

            </div>
          </div>

    <!-- </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--full-width "> -->

  <!-- <hr class="govuk-section-break govuk-section-break--visible"> -->
      <div class="govuk-!-padding-bottom-4"></div>
<!-- Available API's ----------------------------------------------------------->

      <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-l">
              Available API's
            </h2>
            <hr class="govuk-section-break govuk-section-break--visible">

      <div class="govuk-!-padding-bottom-9"></div>

      <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 1
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 2
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 3
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>



      </div>

      <div class="govuk-!-padding-bottom-9"></div>

      <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 4
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 5
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>

          <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m">
                API 6
              </h2>
              <p>
              Information about what this API does.
              </p>
              <a href="/api-details-v2">
                View API
              </a>
          </div>

      </div>


      <div class="govuk-!-padding-bottom-9"></div>

{% endblock %}
